<!DOCTYPE html>
<html lang="en"><head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%- include('../partials/head'); %>
    <title>Lab1 - About Page</title>
    <link rel="icon" href="https://kaydenla.com/assets/favicon.png">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://kaydenla.com/assets/secondary.css">
    <meta name="description" content="Demonstration of a responsive 'About Me' page on my personal website. A video presentation is embedded in a fluid way at the bottom of the page.">
  </head>
  <body>
  </body>
</html>
