<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head'); %>
    <link rel="canonical" href="https://kaydenla.com/contact" />
    <title>About Us| Kayden La</title>
    <meta name="description" content="Official contact page for Kayden. Including E-mail, LinkedIn, and Github">
  </head>
  <body>
    <%- include('../partials/header'); %>
    <div class="container my-5">
      <!-- Components -->
      <section class="">
        <h1 class="text-center"><strong>About Us</strong></h1>
        <!--Subsection: card links -->
        <div class="card mb-4">
          <div class="card-body">
            <h2 class="card-title">Kayden La | Houston, Texas</h2>
            <p class="card-text">
              <p class="card-text">
                <div class="text-center text-muted">
                  Hello! I am a website designer and Computer Infromation Systems proffesional residing within the Greater Houston Area. I have hands on experience with client facing relations, databases, troubleshooting, as well as but not limiting to AWS implementation.
                </div>
              </p>
          </div>
        </div>
      </div>

        </section>
      <%- include('../partials/footer'); %>
    </div>
    <script type="application/ld+json">
      {
        "@context": "https://schema.org/",
        "@type": "Person",
        "name": "Kayden La",
        "url": "https://kaydenla.com/",
        "image": "",
        "sameAs": "https://www.linkedin.com/in/kayden-la-159a951a4/",
        "jobTitle": "Tech Consultant",
        "worksFor": {
          "@type": "Organization",
          "name": "Samsung Inc"
        }  
      }
      </script>
      <script type="application/ld+json">
        {
          "@context": "https://schema.org/", 
          "@type": "BreadcrumbList", 
          "itemListElement": [{
            "@type": "ListItem", 
            "position": 1, 
            "name": "Kayden La",
            "item": "https://kaydenla.com/"  
          },{
            "@type": "ListItem", 
            "position": 2, 
            "name": "About Us",
            "item": "https://kaydenla.com/about-us"  
          }]
        }
        </script>
  </body>
</html>