<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head'); %>
    <link rel="canonical" href="https://kaydenla.com/achievements" />
    <title>Achievements - Kayden La</title>
    <meta name="description" content="Achievements earned by Kayden La. Included are awards, compititions, and nominations. Highlighted is CloudAthon at University of Houston, Spring 2023.">
  </head>
  <body>
    <%- include('../partials/header'); %>
    <div class="container my-5">
      <!-- Components -->
      <section class="">
        <h1>Achievements1</h1>
        This is where a Portfolio of achievements should be placed. 
        </section>
      <%- include('../partials/footer'); %>
    </div>
  <script type="application/ld+json">
    {
      "@context": "https://schema.org/", 
      "@type": "BreadcrumbList", 
      "itemListElement": [{
        "@type": "ListItem", 
        "position": 1, 
        "name": "Kayden La",
        "item": "https://kaydenla.com/"  
      },{
        "@type": "ListItem", 
        "position": 2, 
        "name": "Achievements",
        "item": "https://kaydenla.com/achievements"  
      }]
    }
    </script>
  </body>
</html>