<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head'); %>
    <title>Comparison Chart for LCD IPS TN VA & OLED Displays</title>
    <meta name="description" content="Compare and constrast display types- VA, TN, OLED, & LED">
    <link rel="canonical" href="https://kaydenla.com/display-types" />
    <link rel="stylesheet" href="https://kaydenla.com/assets/dark-table.css">
  </head>
  <body>
    <%- include('../partials/header'); %>
    <div class="container my-5">
      <!-- Components -->
      <section class="">
        <h1>Display Types</h1>
        Compare and constrast display types- LCD, IPS, TN, VA, OLED<br>
        LCDs are displays that consist of crystals and a backlight that shines throught them. These Liquid Crystal Displays come in several varients: VA, TN, and LED.<br>
        <br>  <br>  

        <h2>IPS</h2>
        In Plane Switching LCDs are good for professional workflows due to good color production, viewing angles, and brightness.
        <ul>
          <li>Developed in 2001</li>
          <li>Good viewing angles</li>
          <li>Good color production</li>
        </ul>
        <h2>TN</h2>
        Twisted Nematic LCDs are often good for gamers due to fast response time. Low cost but sacrifices viewing angles, color gamut range, and contrast ratios.
        <ul>
          <li>Fast response</li>
          <li>Bad viewing angles (especially vertical)</li>
          <li>Bad contrast ratios</li>
          <li></li>
        </ul>
        <h2>VA</h2>
        Vertical Alignment LCDs are often known as a middle-ground between IPS and TN displays.
        <ul>
          <li>Good contrast ratio</li>
          <li>Issues with ghosting / burn-in</li>
          <li>Slower reponse times</li>
        </ul>         
        <h2>OLED</h2>
        Organic Light Emitting Diode displays have excellent production and high contrast ratios. Along with this, OLEDs do not require a backlight. OLEDS are not LCDs. Issues consist relitively low max brightness, high cost, and burn-in.
        <ul>
          <li>Good colors</li>
          <li>Good contrast ratios</li>
          <li>Suffers from burn-in</li>
        </ul>         

      </section>
      <section>
        <table>
          <tr>
            <th>Type</th>
            <th>Color Rendering</th>
            <th>Contrast Ratio</th>
            <th>Viewing Angles</th>
            <th>Response Time</th>
          </tr>
          <tr>
            <td>IPS</td>
            <td>Good</td>
            <td>Good</td>
            <td>Good</td>
            <td>Bad</td>
          </tr>
          <tr>
            <td>TN</td>
            <td>Worst</td>
            <td>Worst</td>
            <td>Worst</td>
            <td>Excellent</td>
          </tr>
          <tr>
            <td>VA</td>
            <td>Good</td>
            <td>Good</td>
            <td>Good (subservient to IPS)</td>
            <td>Bad</td>
          </tr>
          <tr>
            <td>OLED</td>
            <td>Excellent</td>
            <td>Excellent</td>
            <td></td>
            <td></td>
          </tr>

        </table>        
      </section>
      <%- include('../partials/footer'); %>
    </div>
      <script type="application/ld+json">
        {
          "@context": "https://schema.org/", 
          "@type": "BreadcrumbList", 
          "itemListElement": [{
            "@type": "ListItem", 
            "position": 1, 
            "name": "Kayden La",
            "item": "https://kaydenla.com/"  
          },{
            "@type": "ListItem", 
            "position": 2, 
            "name": "Display Type Comparison - LCD IPS TN VA OLED",
            "item": "https://kaydenla.com/display-types"  
          }]
        }
        </script>
        <script type="application/ld+json">
          {
            "@context": "https://schema.org/",
            "@type": "Article",
            "author": [
              {
                "@type": "Person",
                "name": "Kayden La",
                "url": "https://kaydenla.com"
              }
            ],
            "headline": "Display Type Comparison - LCD IPS TN VA OLED",
            "image": {
              "@type": "ImageObject",
              "url": "https://imagedelivery.net/UM7D0Nco8iEpdCrVzQrsNg/82fb2d91-cd81-4dbd-bc27-b46a23779d00/width=720"
            },
            "datePublished": "2023-08-24T02:27:10.000Z",
            "publisher": {
              "@type": "Organization",
              "name": "KaydenLa.com",
              "logo": {
                "@type": "ImageObject",
                "url": "https://kaydenla.com/assets/favicon.ico"
              }
            },
            "keywords": [
              "common display types",
              "IPS vs TN vs VA vs OLED"
            ],
            "dateModified": "2023-08-23T02:27:10.000Z",
            "description": "Reference table for A, B, & C Class Subnet Masks. Classes are composed of Network and Host Octets."
          }
          </script>
  </body>
</html>