<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head'); %>
    <link rel="canonical" href="https://kaydenla.com/" />
    <meta name="msvalidate.01" content="5810A70A07A27CA4E38CA41AA1DEF7FA" />
    <title>Kayden La - Web Designer and Lead Consultant</title>
    <meta name="description" content="Kayden La focuses on website development and tech consultation. Sections include resume, full-stack projects, portfolio, and contact info. Proficient in selling, technology troubleshooting, and device installation within the Houston, Texas.">
  </head>
  <body>
    <%- include('../partials/header'); %>
    <div class="container my-5">
      <!-- Components -->
      <section class="">
        <h1 class="text-center"><strong>Kayden La</strong></h1>
        <h2 class="text-center">Web Designer <br>B.Sc Computer Information Systems</h2>
        <p>
          Welcome to Kayden's offical webpage! I am a website designer and Computer Infromation Systems proffesional residing within the Greater Houston Area. I have hands on experience with client facing relations, databases, troubleshooting, as well as but not limiting to AWS implementation. This site serves as a personal portfolio. Documented are examples of full-stack developemnt, SEO opimization, and softskills. I have been active wihtin the tech field since 2014.
        </p>

          <!--Subsection: Education -->
          <div class="card mb-4">
            <div class="card-body">
              <h2 class="card-title">Education</h2>
              <p class="card-text">
                <div>
                  <p><b><u>University of Houston</u></b></p>
                  <p>B.Sc Computer Information Systems</p>
                  <p>August 2021 - December 2024</p>
                </div>
              </p>
            </div>
          </div>

          <!--Subsection: Technical Skills -->
          <div class="card mb-4">
            <div class="card-body">
              <h2 class="card-title">Technical Skills</h2>
              <p class="card-text">
                <div>
                  <p><b>Cloud Services & Infrastructure:</b> AWS, EC2, ELB, CloudFront, Route53, S3, Cloudflare CDN, Cloudflare Stream, Google DNS</p>
                  <p><b>Networking:</b> VPN, Network Design, Network Switches, WireShark, TCP/IP, ping, arp, nslookup, tracert</p>
                  <p><b>Web Development:</b> Node.JS, WordPress, Apache, PHP, REST API, CRUD API, IP tables, SSL/TLS, DNS A Record, CNAME</p>
                  <p><b>Database & Data Management:</b> RDBMS, SQL, AWS RDS</p>
                  <p><b>Programming Languages:</b> Python, JavaScript, PHP, C++, HTML, CSS</p>
                  <p><b>Office Tools:</b> Microsoft Office Suite, Visio, GitHub, Visual Studio</p>
                  <p><b>Operating Systems:</b> Linux, Unix, Ubuntu, Windows</p>
                </div>
              </p>
            </div>
          </div>
  

        

        <!--Subsection: Front End -->
        <div class="card mb-4">
          <h2>Website Structure</h2>
          <div class="card mb-4">
            <div class="card-body">
              <h3 class="card-title">Front End</h3>
              <p class="card-text">
                Developed with EJS, Node JS, JavaScript, HTML, and PHP.<br>
                Bootstrap themes are utilized, with the occasional custom CSS additions.
              </p>
            </div>
          </div>
          <!--Subsection: Back End -->
          <div class="card mb-4">
            <div class="card-body">
              <h3 class="card-title">Back End</h3>
              <p class="card-text">
                Developed using Flask, Python, and SQL.<br>
                To load in external sources, Axios is used with EJS.<br>
                To connect to SQL, sql-connector is used with Flask.<br>
                The server itself is hosted on A2Hosting, DNS by Google Domains, SSL by AutoSSL, and CDN by CloudFlare 
              </p>
            </div>
          </div>
        </div>
      </section>
      <%- include('../partials/footer'); %>
    </div>
    <script type="application/ld+json">
      {
        "@context": "https://schema.org/",
        "@type": "WebSite",
        "name": "Kayden La - Personal Website",
        "url": "https://kaydenla.com/",
        "potentialAction": {
          "@type": "SearchAction",
          "target": "{search_term_string}",
          "query-input": "required name=search_term_string"
        }
      }
      </script>
  </body>
</html>