<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head'); %>
    <link rel="canonical" href="https://kaydenla.com/" />
    <meta name="msvalidate.01" content="5810A70A07A27CA4E38CA41AA1DEF7FA" />
    <title>Kayden La - Lead Consultant</title>
    <meta name="description" content="Kayden La focuses on website development and tech consultation. Sections include resume, full-stack projects, portfolio, and contact info. Proficient in selling, technology troubleshooting, and device installation within the Houston, Texas.">
  </head>
  <body>
    <%- include('../partials/header'); %>
    <div class="container my-5">
      <!-- Components -->
      <section class="">
        <h1 class="text-center"><strong>Kayden La</strong></h1>
        <h2 class="text-center">Tech Consultant</h2>
        <p>
          Welcome to Kayden's offical webpage! This serves as a personal portfolio that documents the progress as I learn web development. Documented are examples of full-stack developemnt, SEO, and tech consulting. I have been active wihtin the tech field since 2014. Documented is my progress within the tech community and career objectives.
        </p>
        <!--Subsection: Introduction -->
        <div class="card mb-4">
          <div class="card-body">
            <h2 class="card-title">Introduction</h2>
            <p class="card-text">
              My tech journy began by my initial fascination for video game modding. Initially, I followed online coding tutorials and experimented with creating mods for Minecraft in 2014. As my skills developed, I began to explore other areas of technology.<br>
              By 2015, my interest in computer components peaked when the screen on my laptop needed repair. While solving this issue I followed tutorials on how to safely work on personal computers.<br>
              By 2021, I had developed a new interest in networking equipment and portforwarding.<br>
              By 2022, I expanded my skill set by learning CSS, HTML, and Python.<br>
              By 2023 I delved into responsive bootstrap design and MySQL. Additionally, I focused on full-stack development by learning NodeJS, EJS, MySQL connector, Flask, and WSGI-mod for Apache.<br>
              Overall, my passion for technology has been a driving force in my personal and professional development.
            </p>
          </div>
        </div>

        <!--Subsection: Objective -->
        <div class="card mb-4">
          <div class="card-body">
            <h2 class="card-title">Objective</h2>
            <p class="card-text">
              I plan to continue broading my overall tech knowledge while continuing on my path towards my very long term goal of becoming a network architect.<br>
              Along my path towards this goal, I expect many differing oppurtunities within tech to arrise as my intersts narrow and become more and more marketable.<br>
              As the tech market changes, I am willing to redifine my long-term goals and areas of focus.
            </p>
          </div>
        </div>
        

        <!--Subsection: Front End -->
        <div class="card mb-4">
          <h2>Website Structure</h2>
          <div class="card mb-4">
            <div class="card-body">
              <h3 class="card-title">Front End</h3>
              <p class="card-text">
                Developed with EJS, Node JS, JavaScript, HTML, and PHP.<br>
                Bootstrap themes are utilized, with the occasional custom CSS additions.
              </p>
            </div>
          </div>
          <!--Subsection: Back End -->
          <div class="card mb-4">
            <div class="card-body">
              <h3 class="card-title">Back End</h3>
              <p class="card-text">
                Developed using Flask, Python, and SQL.<br>
                To load in external sources, Axios is used with EJS.<br>
                To connect to SQL, sql-connector is used with Flask.<br>
                The server itself is hosted on A2Hosting, DNS by Google Domains, SSL by AutoSSL, and CDN by CloudFlare 
              </p>
            </div>
          </div>
        </div>
      </section>
      <%- include('../partials/footer'); %>
    </div>
    <script type="application/ld+json">
      {
        "@context": "https://schema.org/",
        "@type": "WebSite",
        "name": "Kayden La - Personal Website",
        "url": "https://kaydenla.com/",
        "potentialAction": {
          "@type": "SearchAction",
          "target": "{search_term_string}",
          "query-input": "required name=search_term_string"
        }
      }
      </script>
  </body>
</html>