<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head'); %>
    <title>IEEE 802.11 Wireless & 802.3 PoE Chart</title>
    <meta name="description" content="Chart of IEEE 802.11 Wireless and 802.3 PoE throughput, band, and features.">
    <link rel="canonical" href="https://kaydenla.com/ieee-standards" />
    <link rel="stylesheet" href="https://kaydenla.com/assets/dark-table.css">
  </head>
  <body>
    <%- include('../partials/header'); %>
    <div class="container my-5">
      <!-- Components -->
      <section class="">
        <h1>IEEE Standards</h1>
        Comparison chart of IEEE 802.11 wireless and 802.3 Power Over Eithernet <i>(PoE)</i> standards.<br>
        <br>  <br>  
        <h2>802.11 Wireless</h2>
        <table>
          <tr>
            <th>Standard</th>
            <th>Frequencies</th>
            <th>Transmission Rate</th>
            <th>Extras</th>
          </tr>
          <tr>
            <td>802.11a</td>
            <td>5.0 GHz</td>
            <td>54 Mbps</td>
          </tr>
          <tr>
            <td>803.11b</td>
            <td>2.4 GHz</td>
            <td>11 Mbps</td>
          </tr>
          <tr>
            <td>803.11g</td>
            <td>2.4 GHz</td>
            <td>54 Mbps</td>
          </tr>
          <tr>
            <td>803.11n</td>
            <td>5.0 GHz & 2.4 GHz</td>
            <td>600 Mbps</td>
            <td>MIMO</td>
          </tr>
          <tr>
            <td>802.11ac / WiFi 5</td>
            <td>5.0 GHz</td>
            <td>6.933 Gbps</td>
            <td>MU-MIMO</td>
          </tr>
          <tr>
            <td>802.11ac / WiFi 6</td>
            <td>5.0 GHz & 2.4 GHz</td>
            <td>9.607 Gbps</td>
            <td>MU-MIMO</td>
          </tr>
        </table>
        <br>
        <h2>802.3 PoE</h2>
        <table>
          <tr>
            <th>Standard</th>
            <th>Common Name</th>
            <th>Wattage Per Port</th>
            <th>Cabling</th>
          </tr>
          <tr>
            <td>802.3af</td>
            <td>PoE</td>
            <td>15.4W</td>
            <td>Cat5e</td>
          </tr>
          <tr>
            <td>802.3at</td>
            <td>PoE+</td>
            <td>30W</td>
            <td>Cat5e</td>
          </tr>
          <tr>
            <td>802.3bt</td>
            <td>PoE++ &<br>(4PPoE)</td>
            <td>60W &<br>(100W)</td>
            <td>Cat6A</td>
        </table>
      </section>
      <%- include('../partials/footer'); %>
    </div>
      <script type="application/ld+json">
        {
          "@context": "https://schema.org/", 
          "@type": "BreadcrumbList", 
          "itemListElement": [{
            "@type": "ListItem", 
            "position": 1, 
            "name": "Kayden La",
            "item": "https://kaydenla.com/"  
          },{
            "@type": "ListItem", 
            "position": 2, 
            "name": "IEEE 802.11 Wireless & POE Chart",
            "item": "https://kaydenla.com/ieee-standards"  
          }]
        }
        </script>
        <script type="application/ld+json">
          {
            "@context": "https://schema.org/",
            "@type": "Article",
            "author": [
              {
                "@type": "Person",
                "name": "Kayden La",
                "url": "https://kaydenla.com"
              }
            ],
            "headline": "IEEE 802.11 Wireless & 802.3 PoE Chart",
            "image": {
              "@type": "ImageObject",
              "url": "https://imagedelivery.net/UM7D0Nco8iEpdCrVzQrsNg/f064db80-95fb-4fc9-2db8-bc1c006b9000/width=720"
            },
            "datePublished": "2023-08-27T02:27:10.000Z",
            "publisher": {
              "@type": "Organization",
              "name": "KaydenLa.com",
              "logo": {
                "@type": "ImageObject",
                "url": "https://kaydenla.com/assets/favicon.ico"
              }
            },
            "keywords": [
              "wireless standard",
              "IEEE 802.11",
              "IEEE 802.3",
              "Comparison between wifi standards"
            ],
            "dateModified": "2023-08-27T02:27:10.000Z",
            "description": "Chart of IEEE 802.11 Wireless and 802.3 PoE throughput, band, and features."
          }
          </script>
  </body>
</html>