<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head'); %>
    <title>A, B, C Class Subnet Reference Table</title>
    <meta name="description" content="Reference table for A, B, & C Class Subnet Masks. Classes are composed of Network and Host Octets.">
    <link rel="canonical" href="https://kaydenla.com/subnet-classes" />
    <link rel="stylesheet" href="https://kaydenla.com/assets/dark-table.css">
  </head>
  <body>
    <%- include('../partials/header'); %>
    <div class="container my-5">
      <!-- Components -->
      <section class="">
        <h1>A, B, C Class Subnet Basics</h1>
        Classes are composed of Network and Host Octets. The main three classes are defined by how many whole octets belong to the network portion of the IP address alone.<br>
        There are four whole octets within a complete IPv4 adress and are separated by periods<br>
        <b>Example 1</b><br>
        The common Class C IP address: <i>192.168.1.1</i> is split into four octets. <i>[octet].[octet].[octet].[octet]</i><br>
        <br>
        Class A addresses commit one octet to the network. <i>[network].[host].[host].[host]</i><br>
        Class B addresses commit two octets to the network. <i>[network].[network].[host].[host]</i><br>
        Class C addresses commit three octets to the network. <i>[network].[network].[network].[host]</i><br>
        <br>
        <b>Example 2</b><br>
        The commonly known address <i>192.168.1.1</i> reserves three whole octets for the network. <i>[network].[network].[network].[host]</i> Therefore, its subnet mask is classified as a type C subnet.<br>
        <br>
        <h2>Decimal Dot Notation</h1>
        A frequent way to express subnet classes is by using decimal dot notation (<i>DDN</i>)<br>
        Subnet classes are expressed in terms of the max value that could possible occur within the IPv4 address. The max value an octet could hold is 255<br>
        The theoretical max IPv4 adress is <i>255.255.255.255</i> and the minimum value is <i>000.000.000.000</i><br>
        <u>Note that the theoretical max and theoretical minimum are not achieved for reasons outside of this scope.</u><br>
        <br>
        <b>Example 3</b><br>
        The common Class C address <i>192.168.1.1</i> has three whole octets dedicated to the network. <i>[network].[network].[network].[host]</i> The first three octets could reach a maximum value of 255. The last octet within the Class C subnet mask belongs solely to the host adress; and therefore, could never have any of its values assigned to the network. The last octets has a max value of "0" corresponding to the network address.<br>
        Therefore, the first three octets each have a max value of 255, and the last octet has a max value of 0.<br>
        This is expressed as <i>255.255.255.000</i><br>
        This is typically shortened by dropping the sequential zeroes <i>255.255.255.0</i>
        <h2>CIDR Notation</h2>
        CIDR notation goes here.<br>
        <h1>Subnet Class Reference Table</h1>
         
      </section>
      <table>
        <tr>
          <th>Class</th>
          <th>Octet allocation</th>
          <th>DDN</th>
          <th>CIDR</th>
        </tr>
        <tr>
          <td>Class A</td>
          <td>[network].[host].[host].[host]</td>
          <td>255.0.0.0</td>
          <td>/8</td>
        </tr>
        <tr>
          <td>Class B</td>
          <td>[network].[network].[host].[host]</td>
          <td>255.255.0.0</td>
          <td>/16</td>
        </tr>
        <tr>
          <td>Class C</td>
          <td>[network].[network].[network].[host]</td>
          <td>255.255.255.0</td>
          <td>/24</td>
        </tr>
      </table>
      <br>
      <h2>Special Ranges</h2>
      Certain ranges within the IPv4 address range are reserved for special use-cases.
      <table>
        <tr>
          <th>Range</th>
          <th>CIDR</th>
          <th>Subnet Class</th>
          <th>Usage</th>
        </tr>
        <tr>
          <td>10.0.0.0 - 10.255.255.25</td>
          <td>/8</td>
          <td>Class A</td>
          <td>Private</td>
        </tr>
        <tr>
          <td>172.16.0.0 - 172.31.255.255</td>
          <td>/12</td>
          <td>Class B</td>
          <td>Private</td>
        </tr>
        <tr>
          <td>192.168.0.0 - 192.168.255.255</td>
          <td>/16</td>
          <td>Class C</td>
          <td>Private</td>
        </tr>
        <tr>
          <td>169.254.0.1 - 169.254.255.254</td>
          <td>/16</td>
          <td>Class B</td>
          <td>APIPA</td>
        </tr>
      </table>
      <%- include('../partials/footer'); %>
    </div>
      <script type="application/ld+json">
        {
          "@context": "https://schema.org/", 
          "@type": "BreadcrumbList", 
          "itemListElement": [{
            "@type": "ListItem", 
            "position": 1, 
            "name": "Kayden La",
            "item": "https://kaydenla.com/"  
          },{
            "@type": "ListItem", 
            "position": 2, 
            "name": "A, B, C Class Subnet Reference Table",
            "item": "https://kaydenla.com/subnet-classes"  
          }]
        }
        </script>
        <script type="application/ld+json">
          {
            "@context": "https://schema.org/",
            "@type": "Article",
            "author": [
              {
                "@type": "Person",
                "name": "Kayden La",
                "url": "https://kaydenla.com"
              }
            ],
            "headline": "A, B, C Class Subnet Reference Table",
            "image": {
              "@type": "ImageObject",
              "url": "https://kaydenla.com/assets/subnet-classes.png"
            },
            "datePublished": "2023-08-01T02:27:10.000Z",
            "publisher": {
              "@type": "Organization",
              "name": "KaydenLa.com",
              "logo": {
                "@type": "ImageObject",
                "url": "https://kaydenla.com/assets/favicon.ico"
              }
            },
            "keywords": [
              "Subnet Mask Reference Table",
              "Subnet Classes"
            ],
            "dateModified": "2023-08-22T02:27:10.000Z",
            "description": "Reference table for A, B, & C Class Subnet Masks. Classes are composed of Network and Host Octets."
          }
          </script>
  </body>
</html>