<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head'); %>
    <meta name="robots" content="noindex">
    <title>TeamViewer - No Index</title>
  </head>
  <body>
    <%- include('../partials/header'); %>
    <div class="container my-5">
      <h1>Teamviewer 08/22/2023</h1>
      <!-- Components -->
      <section class="">
        <a href="https://kaydenla.com/assets/TeamViewer.exe" download>Download Teamviewer</a>
      </section>
      <%- include('../partials/footer'); %>
  </body>
</html>