<br>
<div class="text-center text-muted">
    <a style="padding-right: 20px;" href="https://www.linkedin.com/in/kayden-la-159a951a4/">
      <img src="https://kaydenla.com/assets/linkedin.webp" title="LinkedIn" alt="Go to LinkedIn" width="40" height="40">
    </a>
    <a style="padding-right: 20px;" href="https://github.com/KaydenLa">
      <img src="https://imagedelivery.net/UM7D0Nco8iEpdCrVzQrsNg/f2e1b1af-e62d-4d16-4cc2-5e5699ab3200/width=40" title="GitHub" alt="Go to GitHub" width="40" height="40">
    </a>
    <a style="padding-right: 20px;" href="mailto:kayden@kaydenla.com">
      <img src="https://imagedelivery.net/UM7D0Nco8iEpdCrVzQrsNg/ea574cd9-10f4-40d0-ab69-9ce43722f600/width=64" title="Kayden@kaydenla.com" alt="Go to email" width="40" height="40">
    </a>
    
</div>