<!DOCTYPE html>
<!--Kayden La -->

<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>KL Lab 3</title>
    <link rel="icon" href="https://kala.heyuhnem.com/assets/favicon.png">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://kala.heyuhnem.com/assets/secondary.css">
  </head>
  <body>
    <div class="padding_container">
      <!-- ===== Nav header ===== -->
      <div class="navbar">
        <nav>
          <ul id="menuList">
            <li><a href="https://kala.heyuhnem.com/">Home</a></li>
            <li><a href="https://kala.heyuhnem.com/LABS/">Lab Directory</a></li>
            <li><a href="https://kala.heyuhnem.com/LABS/Lab2/">Lab2</a></li>
            <li><a href="https://kala.heyuhnem.com/LABS/Lab4">Lab4</a></li>
          </ul>
        </nav>
        <img src="https://kala.heyuhnem.com/assets/menu_1.png" alt="Menu" class="menu-icon" onclick="togglemenu()">
      </div>

      <!-- Title -->
      <h1>Lab3 · Kayden L</h1>
      <div class="center">
        Current Time
      </div>

      <!-- Call time scripts -->
      <div class="right">
        <h3 id="display_day">.</h3>
        <h3 id="display_time">.</h3>
      </div>

      <!-- Paragraph-->
      <div>
        <p>
          &#8195;The code on this webpage displays the current day of the week and the time that the browser loaded the webpage.
          It is important to note that the client performed the JavaScript on this webpage. In other words, the time that the webpage is displayed is dependent on the client's time.
          The browser displays the time the JavaScript found from the client's time settings. In other words, the time displayed relies upon the time settings of the client machine.
          This script has several real-world applications:
        </p>
        <div class="margin_small">
          <p>
            &#8195;<u><b>Firstly</b></u>, the day of the week lets the user know what day it is.
            This is useful to the user. However, more importantly, this information can be extended to secondary scripts.
            For example, if it is Wednesday, a website could highlight the office hours for Wednesday.
          </p>
          <p>
            &#8195;<u><b>Secondly</b></u>,The current date is also useful.
            A simple JavaScript could tell the user:
          </p>
          <div class="margin_small">
            <b>a)</b> How many days are left until an assignment is due.<br>
            <b>b)</b> It could tell the user many days until an event occurs.<br>
            <b>c)</b> If today is the user's birthday. Or,<br>
            <b>d)</b> There are many other applications.
          </div>
        </div>
      </div>

      <!-- ===== Footer ===== -->
      <footer class="py-5">
        <div class="row">
          <div class="d-flex flex-column flex-sm-row justify-content-between py-4 my-4 border-top">
            <p>
              This page was made by Kayden La.<br>
              <strong>© <script src="https://kala.heyuhnem.com/assets/year.js"></script> University of Houston</strong>.<br>
              <a href="https://www.flaticon.com/free-icons/burger" title="burger icons">Burger icons created by Andy Horvath - Flaticon</a>
            </p>
          </div>
        </div>
      </footer>
    </div> <!-- End Padding -->

    <!-- ===== Scripts ===== -->
      <!-- Nav -->
      <script src="https://kala.heyuhnem.com/assets/nav.js"></script>
      <!-- Time  -->
      <script src="https://kala.heyuhnem.com/LABS/Lab3/time.js"></script>

  </body>
</html>
