<!DOCTYPE html>
<!--Kayden La -->
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>KL EC 11-09</title>
    <link rel="icon" href="https://kala.heyuhnem.com/assets/favicon.png">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://kala.heyuhnem.com/assets/secondary.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

  </head>
  <body>
    <div class="padding_container">
      <!-- ===== Nav header ===== -->
      <div class="t_banner navbar">
        <div class="t_title1">
          EC 11-09 · Kayden L - Computer Information Systems
        </div>
        <div class="t_title2" id="t_title2">
          EC 11-09 · KL
        </div>
        <nav>
          <ul id="menuList">
            <li><a href="https://kala.heyuhnem.com/">Home</a></li>
            <li><a href="https://kala.heyuhnem.com/LABS/">Lab Directory</a></li>
          </ul>
        </nav>
        <img src="https://kala.heyuhnem.com/assets/menu_1.png" alt="Menu" class="menu-icon" onclick="togglemenu()">
      </div>

      <!-- Title -->
      <div class="center">
        Extra Credit: 11/09/2022
      </div>

      <!-- Form - Creation and directing to https://ron.viseh.com/CIS2336/MyNotes/Chapter05/process.php -->
    <h2>Contact Us</h2>
    <div>
      <form action="https://ron.viseh.com/CIS2336/MyNotes/Chapter05/process.php" method="post">

        <input class="form-control" type="text" name="Name" placeholder="Name" autofocus><br>

        <input class="form-control" type="text" inputmode="email" name="Email" mask="email"  placeholder="Email"  required><br>

        <input class="form-control" type="text" inputmode="text" name="Phone" mask="tel" placeholder="Phone"><br>

        <label><i>Appointment Time</i></label><br>

        <input class="form-control" type="date" name="Date" placeholder="Date"><br>

        <input type="time" id="time" name="Time"><br><br>

        <input class="form-control" name="Message" placeholder="Message" maxlength="200" required><br>

        <button type="submit" name="Action" value="Submit" class="btn btn-primary">Submit</button>
      </form>
    </div>

      <!-- ===== Footer ===== -->
      <footer class="py-5">
        <div class="row">
          <div class="d-flex flex-column flex-sm-row justify-content-between py-4 my-4 border-top">
            <p>
              This page was made by Kayden La.<br>
              <strong>© <script src="https://kala.heyuhnem.com/assets/year.js"></script> University of Houston</strong>.<br>
              <a href="https://www.flaticon.com/free-icons/burger" title="burger icons">Burger icons created by Andy Horvath - Flaticon</a>
            </p>
          </div>
        </div>
      </footer>
    </div> <!-- End Padding -->

    <!-- ===== Scripts ===== -->
      <!-- Nav -->
      <script src="https://kala.heyuhnem.com/assets/nav.js"></script>
      <!-- get_extension -->
      <script src="https://kala.heyuhnem.com/LABS/Lab5/get_extension.js"></script>

      <!-- Ron Viseh -->
      <script src="https://ron.viseh.com/CIS311/Examples/HTML/assets/JS/vendors.min.js?c=zr9qYj45qQXU-JpJUf_Z2Z0ZWCiuAC9F"></script>
      <script src="https://ron.viseh.com/CIS311/Examples/HTML/assets/JS/validator.min.js?c=HiStem5XCvcf4R3LtWTX1XLJ5rJfBz0l"></script>
  </body>
</html>
